# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\admin\Desktop\학교\4학년 1학기\종프2\master\Capstone_project2\WebRTC공부\coreM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
